<html>
    <head>
        <title>MathDungeon Forums</title>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"   
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/static/style/forum.css">
    </head>
    <body>
        <nav>
            <h1>
                <a href="/forum">
                    Math Dungeon Forums
                </a>
            </h1>
        </nav>
        <div class="content center">
            <div>
                <h2>{{title}} by {{poster}}</h2>
                <p>
                    {{body}}
                    <br />
                    {{date}}
                </p>
            </div>
            <div>
                <h3>Comments</h3>
                {{#each comments}}
                    <p>
                        <strong>{{commenter}}</strong>
                        <br />
                        {{body}}
                        <br />
                        {{date}}
                    </p>
                {{else}}
                    No comments yet. Be the first to comment!
                {{/each}}
            </div>
            <div>
                <strong>Make a comment</strong>
                <input type="text" id="comment-commenter-field" placeholder="Your Name" />
                <textarea id="comment-body-field" cols="30" rows="10" placeholder="Your Comment"></textarea>
                <button id="comment-button">Comment</button>
            </div>
        </div>

        <script src="/static/js/forum-post.js"></script>
    </body>
</html>